:root {
    --secondaryBlue: #1E40AF ;
    --mainBlue: #BFDBFE ;
    --white: #fff ;
    --fontColor: #344460;
    --grayColor: #757575 ;
    --FirstgrayColor: #313131;
    --SecondgrayColor: #414141;
    --ThirdgrayColor: #525252;
    --ContentDarkColor: #accde2 ;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 2rem 0 4rem 0;
    flex-wrap: wrap;
}

.footerDark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 2rem 0 4rem 0;
    background-color: var(--ThirdgrayColor);
    color: var(--white);
    flex-wrap: wrap;
}

.footerContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerTopTitle {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footerContentText {
    min-width: 10rem;
    max-width: 35rem;
    text-align: justify;
    color: var(--grayColor);
    line-height: 2.1rem;
}

.footerContentTextDark {
    min-width: 10rem;
    max-width: 35rem;
    text-align: justify;
    color: var(--ContentDarkColor);
    line-height: 2.1rem;
}

.footerLogo {
    height: 7rem;
}

.footerSiteParts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.footerSitePartsTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.SitePartsUl li {
    margin: 0.8rem 0;
    cursor: pointer;
}
.SitePartsLogosContainer , .SitePartsLogosContainerDark {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.SitePartsLogosContainer svg {
    cursor: pointer;
    color: var(--secondaryBlue);
}

.SitePartsLogosContainerDark svg {
    cursor: pointer;
    color: var(--mainBlue);
}

.footerCourses {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 4rem 0;
}
.footerCourses ul > li {
    margin: 0.8rem 0;
    cursor: pointer;
}

@media screen and (max-width: 660px) {
    .footer , .footerDark {
        padding: 2rem 2rem 4rem 2rem;
    }
}
@media screen and (max-width: 600px) {
    .footerTopTitle {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        padding: 0 0 2rem 0;
    }
}