:root {
    --secondaryBlue: #1E40AF;
    --mainBlue: #BFDBFE;
    --white: #fff;
    --fontColor: #344460;
    --thirdBlue: #000;
    --FirstgrayColor: #404258;
    --SecondgrayColor: #50577A;
    --ThirdgrayColor: #474E68;
    --ForthgrayColor: #6B728E;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 20rem 1rem 20rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: var(--fontColor);
    position: fixed;
    width: 100%;
    background-color: var(--white);
    z-index: 100;
}

.navbarDark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 20rem 1rem 20rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: var(--fontColor);
    position: fixed;
    width: 100%;
    background-color: var(--ThirdgrayColor);
    z-index: 100;
}

.navBtnContainer {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.navMenuContainer {
    display: flex;
    flex-direction: column;
    z-index: 12;
}


.navLink {
    color: var(--secondaryBlue);
    text-decoration: none;
    transition: 0.3s;
}

.navLinkDark {
    color: var(--mainBlue);
    text-decoration: none;
    transition: 0.3s;
}

.navLink:hover {
    color: var(--secondaryBlue);
    cursor: pointer;
}

.Logo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
}

.navBtn {
    background-color: var(--mainBlue);
    color: var(--secondaryBlue);
    padding: 0.5rem 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 15px;
    gap: 0.3rem;
    cursor: pointer;
    text-decoration: none;
}

.navBtnDarkMode,
.navBtnBasket {
    background-color: var(--mainBlue);
    color: var(--secondaryBlue);
    padding: 0.5rem 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 15px;
    gap: 0.3rem;
    cursor: pointer;
    position: relative;
}

.navProductCounter {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--secondaryBlue);
    color: var(--mainBlue);
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 1px 0 0 0;
    z-index: 10;
}

.HamburgerContainer,
.HamburgerContainerDark {
    display: none;
    height: 2rem;
    cursor: pointer;
}

.HamburgerContainerDark {
    height: 3.5rem;
    background-color: var(--mainBlue);
    padding: 15px 15px;
    border-radius: 1rem;
    cursor: pointer;
}

.closeModalBtn,
.navLinkTheme,
.navLinkThemeDark,
.closeModalBtnDark {
    display: none;
    color: var(--secondaryBlue);
    cursor: pointer;
}

@media screen and (max-width: 1410px) {

    .navbar,
    .navbarDark {
        padding: 0.7rem 10rem 1rem 10rem;
    }
}

@media screen and (max-width: 1070px) {

    .navbar,
    .navbarDark {
        padding: 0.7rem 5rem 1rem 5rem;
    }
}

@media screen and (max-width: 900px) {

    .navbar,
    .navbarDark {
        padding: 0.7rem 2rem 1rem 2rem;
    }
}

@media screen and (max-width: 830px) {

    .HamburgerContainer,
    .HamburgerContainerDark {
        display: block;
    }

    .navLinkTheme {
        display: none;
    }

    .Logo {
        display: none;
    }

    .closeModalBtn,
    .navLinkTheme,
    .navLinkThemeDark,
    .closeModalBtnDark {
        display: block;
        color: var(--mainBlue);
    }

    .closeModalBtn,
    .closeModalBtnDark {
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid var(--secondaryBlue);
        width: 100%;
        padding: 0 0 1.2rem 0;
        color: var(--secondaryBlue);
    }

    .closeModalBtnDark {
        border-bottom: 1px solid var(--mainBlue);
        cursor: pointer;
        color: var(--mainBlue);
    }

    .navLinkTheme,
    .navLinkThemeDark {
        border-top: 1px solid var(--secondaryBlue);
        width: 100%;
        padding: 1.4rem 0 0 0;
        cursor: pointer;
        color: var(--secondaryBlue);
    }

    .navLinkThemeDark {
        border-top: 1px solid var(--mainBlue);
        color: var(--mainBlue);
    }

}

@media screen and (max-width: 460px) {
    .navBtnDarkMode {
        display: none;
    }

    .navBtn {
        padding: 0.5rem;
    }
}

@media screen and (max-width: 370px) {
    .navBtnBasket {
        padding: 0.5rem;
    }

    .navbar,
    .navbarDark {
        justify-content: center;
        gap: 2rem;
    }
}