:root {
    --secondaryBlue: #1E40AF ;
    --mainBlue: #BFDBFE ;
    --white: #fff ;
    --fontColor: #344460;
    --thirdBlue: #000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 20rem 1rem 20rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: var(--fontColor);
    position: fixed;
    width: 100%;
    background-color: var(--white);
    z-index: 100;
}
.navBtnContainer {
    display: flex;
    align-items: center;
    gap: 0.7rem;    
}
.navMenuContainer ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}
.navMenuContainer > ul > li:hover {
    color: var(--secondaryBlue);
    cursor: pointer;
}

.navLink {
    color: var(--fontColor);
    text-decoration: none;
}
.navLink:hover {
    color: var(--secondaryBlue);
    cursor: pointer;
}

.Logo {
    height: 4.5rem;
}
.navBtn {
    background-color: var(--mainBlue);
    color: var(--secondaryBlue);
    padding: 0.5rem 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 15px;
    gap: 0.3rem;
    cursor: pointer;
}
.navBtnDarkMode ,
.navBtnBasket {
    background-color: var(--mainBlue);
    color: var(--secondaryBlue);
    padding: 0.5rem 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 15px;
    gap: 0.3rem;
    cursor: pointer;
    position: relative;
}
.navProductCounter {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--secondaryBlue);
    color: var(--mainBlue);
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 1px 0 0 0;
}

.HamburgerContainer {
    display: none;
    height: 2rem;
}

@media screen and (max-width: 1410px) {
    .navbar {
        padding: 0.7rem 10rem 1rem 10rem;
    }
}

@media screen and (max-width: 1070px) {
    .navbar {
        padding: 0.7rem 5rem 1rem 5rem;
    }
}
@media screen and (max-width: 900px) {
    .navbar {
        padding: 0.7rem 2rem 1rem 2rem;
    }
}
@media screen and (max-width: 830px) {
    .HamburgerContainer {
        display: block;
    }
    .navLink {
        display: none;
    }
    .Logo {
        display: none;
    }
}
@media screen and (max-width: 460px) {
    .navBtnDarkMode {
        display: none;
    }
    .navBtn {
        padding: 0.5rem;
    }
}
@media screen and (max-width: 370px) {
    .navBtnBasket {
        padding: 0.5rem;
    }
    .navbar {
        justify-content: center;
    }
}