:root {
    --secondaryBlue: #1E40AF;
    --mainBlue: #BFDBFE;
    --white: #fff;
    --fontColor: #344460;
    --grayColor: #757575;
    --whitesmoke: #FAFAFA;
    --LinkColor: #60A5FA;
    --greenColor: #16A34A;
    --redColor: #DC2626;
}

.UserBasketContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.UserBasket {
    padding: 10rem 3rem 5rem 3rem;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 50rem;
    gap: 1rem;
    background-color: var(--whitesmoke);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.emptyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.emptyContainer h5 {
    color: var(--grayColor);
}

.emptyLinkContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--grayColor);
}

.emptyLink {
    text-decoration: none;
    color: var(--LinkColor);
}

.UserBasketCheckout {
    padding: 10rem 3rem 5rem 3rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 1rem;
    background-color: var(--whitesmoke);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    align-self: flex-start;
    gap: 4rem;
}

.checkoutBtn,
.clearBtn {
    border: 0;
    outline: none;
    border-radius: 7px;
    background-color: var(--greenColor);
    color: var(--white);
    padding: 0.6rem 1.3rem;
}

.clearBtn {
    background-color: var(--redColor);
}

.checkoutBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.checkoutBtnRemove {
    display: none;
    visibility: hidden;
}



.checkoutDetails {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

@media screen and (max-width:930px) {
    .UserBasket {
        align-items: center;
    }
    .UserBasketContainer {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .UserBasket {
        padding: 2rem 3rem;
        order: 1;
        
    }
    .UserBasketCheckout {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 9rem 3rem 2rem 3rem;
    }
}

@media screen and (max-width:500px) {
    .UserBasketCheckout {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:360px) {
    .UserBasket {
        padding: 2rem 1rem;
    }
}