:root {
    --secondaryBlue: #1E40AF;
    --mainBlue: #BFDBFE;
    --white: #fff;
    --fontColor: #344460;
    --grayColor: #757575;
    --blueSoft: #2563EB; 
    --FirstgrayColor: #404258;
    --SecondgrayColor: #50577A;
    --ThirdgrayColor: #474E68;
    --ForthgrayColor: #6B728E;
}

.CartContainer , .CartContainerDark {
    display: flex;
    align-items: center;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 1rem;
    overflow: hidden;
}
.CartContainerDark {
    background-color: var(--ForthgrayColor);
}

.cartImageContainer {
    overflow: hidden;
}

.cartImage {
    height: 17rem;
    border-radius: 1rem;
}

.cartDetailsContainer {
    height: 17rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 2rem;
    justify-content: space-between;
}

.cartBenefits , .cartBenefitsDark {
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--grayColor);
}
.cartBenefitsDark {
    color: var(--white);
}

.cartBenefitsContainer {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.cartPrice {
    display: flex;
    align-items: center;
    gap: 3px;
}

.decreaseBtn,
.removeBtn,
.increaseBtn {
    padding: 8px 18px;
    background-color: var(--blueSoft);
    color: var(--white);
    outline: none;
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantity {
    padding: 0px 8px;
    margin: 5px 0 0 0;
}
.cartBtnContainer {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .CartContainer {
        flex-direction: column;
        width: 20rem;  
    }
}
@media screen and (max-width: 420px) {
    .CartContainer {
        flex-direction: column;
        width: 17rem;  
    }
    .cartImage {
        height: 15rem;
    }
}
@media screen and (max-width: 380px) {
    .CartContainer {
        flex-direction: column;
        width: 15rem;  
    }
    .cartImage {
        height: 13rem;
    }
}