:root {
    --secondaryBlue: #1E40AF;
    --mainBlue: #BFDBFE;
    --white: #fff;
    --fontColor: #344460;
    --thirdBlue: #000;
    --FirstgrayColor: #404258;
    --SecondgrayColor: #50577A;
    --ThirdgrayColor: #474E68;
    --ForthgrayColor: #6B728E;
    --WhiteColor: #fff;
}

/* Sweet Alert Style Satrt */

.swal-footer {
    text-align: right;
    padding-top: 13px;
    margin-top: 13px;
    padding: 13px 16px;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    justify-content: end;
}

/* Sweet Alert Style End */
.AppDark {
    background-color: var(--FirstgrayColor);
}
